.stop_marker {
    background: black;
    color: white;
    border-radius: 99em;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 16px; */
}

.stop_marker_focused {
    background: black;
    color: white;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
    border-radius: 99em;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 16px; */
}

.popover {
    position: absolute;
    display: block;
    bottom: 5px;
}

.popover_hidden {
    display: hidden;
}