.box {
    backdrop-filter: blur(2px);
    border-radius: 8px;
    box-shadow:
        inset 0.4px 0.4px 0px #555555,
        inset 0.75px 0.75px 1px #ffffff,
        inset -1px -1px 1px #555555,
        inset -2px -2px 2px 0 #00000044,
        5px 5px 5px #00000088;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
}