.button {
    border-radius: 8px;
    background: #cf9230;
    box-shadow:
        inset 1px 1px 1px #ffffff,
        5px 5px 5px #604416;
    border: 1px solid #604416;
    padding: 12px;
    color: black;
}

.button:active {
    background: #604416;
}