

.container {
    position: relative;
    display: flex;
    align-items: center;
}

.slider {
    height: 15px;
    width: 40px;
    border-radius: 8px;
    box-shadow: 
        inset 0.4px 0.4px 0px #555555,
        inset 0.75px 0.75px 1px #ffffff,
        inset -1px -1px 1px #555555,
        inset -2px -2px 2px 0 #00000044,
        5px 5px 5px #00000088;
    transition: 100ms;
}

.slider_enabled {
    background-color: #a0a0a0;
    box-shadow: 
        inset 1px 1px 1px #c0c0c0,
        5px 5px 5px #00000088;
}

.thumb {
    background-color: #e0e0e0;
    border-radius: 99em;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    box-shadow: 
        inset 1px 1px 1px #ffffff,
        5px 5px 5px #00000088;
    transition: 100ms;
}

.thumb_enabled {
    left: 20px;
    right: 0;
}